server/.nodered/lib/flows/AlarmVehicleTachographReading
[{"id":"c7925c8.d250ba","type":"scheduler","z":"ab981a25.3629d8","outtopic":"","outpayload1":"","outpayload2":"","name":"Scheduler","lat":"43.52254","lon":"-5.6115","start":"sunrise","end":"sunset","starttime":"1395","endtime":"1410","duskoff":"0","dawnoff":"0","outtext1":"ON","outtext2":"OFF","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":false,"atstart":true,"x":93,"y":129,"wires":[[],[],["4bbb6394.ed008c"]]},{"id":"4bbb6394.ed008c","type":"http request","z":"ab981a25.3629d8","name":"Alarm","method":"POST","ret":"obj","url":"http://localhost:4001/services/rest/Vehicles/alarmLastVehicleReading","x":249,"y":142,"wires":[["18fb5621.3fcc7a"]]},{"id":"74c3e134.b7c","type":"function","z":"ab981a25.3629d8","name":"Publish Events","func":"console.log('Check Vehicle Tachos Reading');\n\nvar request = context.global.request;\n\n// get driver active\nvar vehicle = msg.payload;\nvar MAX_DAYS = 87; // 3 days before 3 month\n\nif (vehicle.length === 0)\n    return;\n    \nif (vehicle.days > MAX_DAYS) {\nvar eventt = {\n                \"organizationId\": vehicle.organizationId,\n                \"description\": \"El vehículo con mátricula \" + vehicle.registration + \" le quedan menos de tres días para descargar el tacógrafo\",\n                \"date\": new Date(),\n                \"type\": \"Warning\",\n                \"confirm\": false\n             };\n    \n    request.post({ url:'http://localhost:4001/services/rest/Events/events/pushEvent', \n                   json: true,\n                   body: eventt}, function(err, httpResponse, body) {\n        if (err)\n            node.send(err);\n\n        console.log('Alarm sent successfuly!. Server responded with:', body);\n\n        msg.payload = body;\n        node.send(msg);\n    });    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":549,"y":302,"wires":[["ea570151.1620e"]]},{"id":"ea570151.1620e","type":"debug","z":"ab981a25.3629d8","name":"","active":true,"console":"false","complete":"false","x":699,"y":145,"wires":[]},{"id":"18fb5621.3fcc7a","type":"splitter","z":"ab981a25.3629d8","name":"Vehicle Loop","property":"payload","x":362,"y":302,"wires":[["74c3e134.b7c"]]}]