server/.nodered/lib/flows/AlarmDriverCardReading
[{"id":"60b96489.c6703c","type":"scheduler","z":"561c8dfd.00c594","outtopic":"","outpayload1":"","outpayload2":"","name":"Scheduler","lat":"43.52254","lon":"-5.6115","start":"sunrise","end":"sunset","starttime":"1380","endtime":"1395","duskoff":"0","dawnoff":"0","outtext1":"ON","outtext2":"OFF","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":false,"atstart":true,"x":90,"y":184,"wires":[[],[],["664c2cc.4331cd4"]]},{"id":"664c2cc.4331cd4","type":"http request","z":"561c8dfd.00c594","name":"Alarm","method":"POST","ret":"obj","url":"http://localhost:4001/services/rest/Drivers/alarmLastCardReading","x":254,"y":194,"wires":[["482eee1c.3c0bd"]]},{"id":"e551a2a7.9b135","type":"function","z":"561c8dfd.00c594","name":"Publish Events","func":"console.log('Check Driver Tachos Reading');\n\nvar request = context.global.request;\n\n// get driver active\nvar driver = msg.payload;\nvar MAX_DAYS = 27; // 3 days before 1 month\n\nif (driver.length === 0)\n    return;\n    \nif (driver.days > MAX_DAYS) {\n    var eventt = {\n                  \"organizationId\": driver.organizationId,\n                  \"description\": \"El conductor \" + driver.name + \" le quedan menos de tres días para descargar la tarjeta de conductor\",\n                  \"date\": new Date(),\n                  \"type\": \"Warning\",\n                  \"confirm\": false\n                 };\n    \n    request.post({ url:'http://localhost:4001/services/rest/Events/events/pushEvent', \n                   json: true,\n                   body: eventt}, function(err, httpResponse, body) {\n        if (err)\n            node.send(err);\n\n        console.log('Alarm sent successfuly!. Server responded with:', body);\n\n        msg.payload = body;\n        node.send(msg);\n    }); \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":506,"y":316,"wires":[["7d65cb43.849774"]]},{"id":"7d65cb43.849774","type":"debug","z":"561c8dfd.00c594","name":"","active":true,"console":"false","complete":"false","x":646,"y":184,"wires":[]},{"id":"482eee1c.3c0bd","type":"splitter","z":"561c8dfd.00c594","name":"Driver Loop","property":"payload","x":316,"y":316,"wires":[["e551a2a7.9b135"]]}]